<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>

    {% for data in records %}
    {{ data.id }}
    {{ data.time }}
    {{ data.created_at }}<br>
    {% endfor %}

    <div class='timer'>00:00:00.000</div>
    <button class='start-stop' name = "start">スタート</button>
    <!-- <button class='stop' name = "stop">ストップ</button> -->
    <button class='reset'>リセット</button>

    <form method="POST" action="{% url 'timer_store' %}">
      {% csrf_token %}
      <input class="time_data" type="hidden" name="time">
      <input class="created_at_data" type="hidden" name="created_at">
      <input class="store" type="submit" value="保存">
    </form>
    <!-- <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?> -->

  <a href="{% url 'hello' %}">戻る</a>


  <!-- <script src="../../static/js/timer.js"></script> -->
  <script>

    var total;

    //Appクラス
    class App {
      constructor() {
        //stopwatctクラスのインスタンスの作成
        this.stopwatch = new Stopwatch();
      }

      mount() {
        const startStopElement = document.querySelector('.start-stop');
        // const StopElement = document.querySelector('.stop');
        const resetElement = document.querySelector('.reset');

        var f_flag = true;

        //startStopボタンを押したとき
        startStopElement.addEventListener("click", () => {

          if(f_flag === true)
          {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            document.querySelector('.created_at_data').value = year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;

            f_flag = false;
          }

          //ストップウォッチが止まっているとき
          if(this.stopwatch.isStop) {
            //ストップウォッチを動かす
            this.stopwatch.start();
            startStopElement.textContent = "ストップ";
          //ストップウォッチが動いているとき
          } else {
            //ストップウォッチを止める
            this.stopwatch.stop();
            //ボタン表示をスタートに
            startStopElement.textContent = "スタート";
            document.querySelector('.time_data').value = total;
          }
        });
        // stopElement.addEventListener("click", () => {
        //     if(this.stopwatch.isStop) {
        //         this.stopwatch.start();
        //         }
        //     else {
        //       this.stopwatch.stop();
        //     }
        // });
        //resetボタンを押したとき
        resetElement.addEventListener("click", () => {
          //ストップウォッチが止まっているとき
          if(this.stopwatch.isStop){
            //ストップウォッチをリセット
            this.stopwatch.reset();
          }
        });
      }
    }

    //画面の時間表示
    const view = (value) => {
      let hour = 0;
      let min = Math.floor(value / (60 * 1000));
      let sec = Math.floor(value % (60 * 1000) / 1000);
      let minSec = value % 1000;
      //2桁表示に
      if(min < 10) {
        min = ("0" + min).slice(-2);
      }
      sec = ("0" + sec).slice(-2);
      minSec = ("00" + minSec).slice(-3);

      //timerの表示を書き換え
      const timerElement = document.querySelector('.timer');
      timerElement.textContent = `${hour}:${min}:${sec}.${minSec}`;

      total = hour + ':' + min + ':' +  sec + '.' + minSec;
    };

    //stopwatchクラス
    class Stopwatch {
      constructor() {
        //リセットメソッドを実行
        this.reset();
      }
      //ストップウォッチをリセット
      reset() {
        this.isStop = true;
        this.id = 0;
        this.elapsedTime = 0;
        view(0);
      }
      //ストップウォッチをスタート
      start() {
        this.isStop = false;
        this.startTime = Date.now();
        this.id = setInterval(() => {
          view((Date.now() - this.startTime) + this.elapsedTime);
        }, 5);
      }
      //ストップウォッチをストップ
      stop() {
        this.isStop = true;
        this.elapsedTime += Date.now() - this.startTime;
        clearInterval(this.id);
      }
    }

    //Appクラスのインスタンスを作成
    const app = new App();
    //マウントメソッドの実行
    app.mount();

  </script>
  </body>
</html>