{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoリスト</title>

  <link rel="stylesheet" href="../static/css/todo.css">
</head>
<body>
  <h3>作成</h3>
  <form action="{% url 'todo_add' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="form_title">タイトル</label>
      <input id="form_title" type="text" name="title" required>
    </div>
    <div>
      <label for="form_text">タスク</label>
      <textarea id="form_text" name="text" placeholder="タスクの詳細を入力"></textarea>
    </div>
    <div>
      <label for="form_deadline">期限</label>
      <input id="form_deadline" type="datetime-local" name="deadline" required>
    </div>
  </form>

  <h3>ToDoリスト</h3>
  <table>
      {% for todo in todos %}
      <tr>
        <td>
          {{ todo.title }}
        </td>
        <td>
          {{ todo.text }}
        </td>
        <td>
          <form action="{% url 'todo_remove' todo.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="削除">
          </form>

        </td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>