<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thunder Liff</title>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.1.13/sdk.js"></script>
</head>
<body>
  Hello,world! in templete file.

  <a href="{% url 'timer_index' %}">Timer</a>
  <a href="{% url 'todo_index' %}">ToDo</a>
  <a href="{% url 'record_index' %}">record</a>
</body>
</html>